body {
	color: white;
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	background: url(./739912.jpg)
		no-repeat;
}
/* background */

.logo {
	width: 30%;
	max-width: 150px;
}
header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
ul {
	display: flex;
}
ul li {
	list-style-type: none;
	padding: 0 10px;
	color: white;
}
#container {
	padding: 20px;
	max-width: 900px;
	max-height: 700px;
}
.content {
	display: flex;
	/* flex-wrap: wrap; */
}
.charecters {
	display: flex;
	flex-wrap: wrap;
	/* flex-direction: column; */
}
.card {
	max-width: 200px;
	display: flex;
	margin: 0 50px
		20px 0;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background-color: white;
	flex-wrap: wrap;
	border-radius: 20px;
	box-shadow: 0px
		12px 15px
		rgba(
			2,
			2,
			2,
			0.59
		);
}
.char-img {
	width: 100%;
	max-height: 80%;
}
h3 {
	text-align: center;
	margin: 0;
}
.name {
	padding: 10px;
}
.poster {
	max-width: 300px;
	width: 100%;
}
.cont-desc {
	max-width: 600px;
}
.watch {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
iframe {
}
